$background-color: #fff;
$body-font: "Roboto";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: $background-color;
  font-family: $body-font;
  font-size: 1.4rem;
}
