.header {
  width: 100vw;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 60, 80, 0.2);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border: 1px solid #343a40;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 16px -2px rgba(15, 33, 47, 0.19);
  -moz-box-shadow: 0px 10px 16px -2px rgba(15, 33, 47, 0.19);
  box-shadow: 0px 10px 16px -2px rgba(15, 33, 47, 0.19);
  color: #fff;
  background-color: #343a40;
  transition: 300ms;
  font-size: 1.6rem;
  margin: 0 30px;

  &:hover {
    background-color: #888;
  }

  &.active {
    color: #343a40;
    background-color: #f8f9fa;
    border: 1px solid #343a40;
    cursor: default;
  }
}
